@model BuisnessLogic.Models.CrfPageComponent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CrfPageComponent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RenderType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RenderType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRequired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidationPattern)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidationPattern)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrfPage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrfPage.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
