@model CrfPageComponentViewModel

@{
    // property Name of CrfPageComponent

    Layout = null;
}

<div class="form-group">
    <label class="control-label" for="@Model.Name">@Model.QuestionText</label>
    <input class="form-control" type="checkbox" data-val="@Model.IsRequired"
           data-val-required="This field is required."
           id="@Model.Name" name="@Model.Name" />
    <span class="text-danger field-validation-valid" data-valmsg-for="@Model.Name" data-valmsg-replace="true"></span>
</div>

