@model RenderCrfPageViewModel

@{
    // property IEnumerable<BuisnessLogic.Models.CrfPageComponent>

    ViewData["Title"] = $"Render {Model.CrfPage.Name}";
}

<h1>@Model.CrfPage.Name</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model.CrfPageComponent.Where(x => x.IsDeleted == false).ToList())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionTypeId)
                    @Html.DisplayFor(modelItem => item.CategoryId)
                    @Html.DisplayFor(modelItem => item.CategoryName)
                    @Html.DisplayFor(modelItem => item.IsRequired)
                    @Html.DisplayFor(modelItem => item.ValidationPattern)
                    @Html.DisplayFor(modelItem => item.Name)
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                    @Html.DisplayFor(modelItem => item.ModifiedDateTime)
                </td>
                <td>
                    <a asp-action="Lock" asp-route-id="@item.Id">Lock</a> |
                    <a asp-action="Unlock" asp-route-id="@item.Id">Unlock</a>
                </td>
            </tr>
        }
    </tbody>
</table>
