@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <h1 class="display-4">Welcome @User.Identity.Name</h1>
        <p>View and Define <a>@Html.ActionLink("CRF Pages", "Index", "CrfPages")</a>.</p>
        <p>Design <a>@Html.ActionLink("CRF Page Components", "Index", "CrfPageComponents")</a>.</p>
        <p>Design <a>@Html.ActionLink("CRF Options", "Index", "CrfOptions")</a>.</p>
        <p>View and Define <a>@Html.ActionLink("CRF Question Types", "Index", "QuestionTypes")</a>.</p>
        <p>Design <a>@Html.ActionLink("CRF something else1", "Index", "CrfPageComponents")</a>.</p>
        <p>View and Define <a>@Html.ActionLink("CRF something else 2", "Index", "CrfPages")</a>.</p>
    }
    else
    {
        <h1>Welcome</h1>
        <p>Please sign in or Register</p>
    }

</div>
